<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Удаление объявления</title>
</head>
<body>
    • <a href="/">Главное</a>
    • <a href="/search">Искать вещи</a>
    • <a href="/lost">Вы потеряли</a>
    • <a href="/found">Вы нашли</a>
    • <a href="/my"> Ваше объявление</a>
    <br><br>
    <form method="post">{% csrf_token %}
        Введите UUID вашего объявления
        <input type="text" name="uuid">
        <input type="submit" value="Отправить">
    </form>
    <br>
    {{ message }}
</body>
</html>