<!DOCTYPE html>
<html>

  <head>
    <title>Lost & Found</title>
    <link rel="stylesheet" href="//unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/opencagedata/leaflet-opencage-search@1.4.1/dist/css/L.Control.OpenCageData.Search.min.css" />

    <style type="text/css">
        img {
          border: 1px solid #ddd; /* Gray border */
          border-radius: 4px;  /* Rounded border */
          padding: 5px; /* Some padding */
          width: 150px; /* Set a small width */
        }

        /* Add a hover effect (blue shadow) */
        img:hover {
          box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
        }
        html, body, #map {
            height: 80%;
        }
    </style>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  </head>

  <body>
    • <a href="/">Главное</a>
    • <a href="/search">Искать вещи</a>
    • <a href="/lost">Вы потеряли</a>
    • <a href="/found">Вы нашли</a>
    • <a href="/my"> Ваше объявление</a>
    <div id="map"></div>
    <script src="//unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/opencagedata/leaflet-opencage-search@1.4.1/dist/js/L.Control.OpenCageSearch.min.js"></script>
    <script>
    var map = L.map('map', {doubleClickZoom: false});
    var options = {
      key: '{{ opencage_key }}',
      limit: 10,
    };
    var miniIcon = L.icon({
        iconUrl: '../media/point.png',
        iconSize:     [8, 8],
        iconAnchor:   [10, 4],
        popupAnchor:  [0, 0]
    });
    var points = []
    var images_ = {{ images | safe }}
    var markerGroup = L.layerGroup().addTo(map);

    map.on('click', function(e){
        L.marker(e.latlng).addTo(markerGroup);
        points.push([e.latlng.lng, e.latlng.lat])
        document.getElementById('points').value = JSON.stringify(points)
    });
    var control = L.Control.openCageSearch(options).addTo(map);

    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    for (image of images_) {
        var marker = L.marker([image.y, image.x], {icon: miniIcon}).addTo(map);
        debugger
        if (image.active == "True") {
            marker.bindPopup(
                "<a target=\"_blank\" rel=\"noopener noreferrer\" href=" + image.image_url + "><img src=" + image.image_url + "/></a>"
            ).openPopup();
        } else {
            marker.bindPopup(
                "Объявление находится на модерации"
            ).openPopup();
        }
    }
    if (images_.length > 0) {
        map.setView([image.y, image.x], 18);
    } else {
        map.locate({setView: true, maxZoom: 18});
    }

    function deletePoints() {
        points = []
        document.getElementById('points').value = JSON.stringify(points)
        markerGroup.clearLayers()
    }

    </script>

  <div>
    <input onclick="deletePoints()" type="submit" name="delete-all-points" id="delete-all-points" value="Удалить все отметки">
  </div>
  <br>
  <div></div>
      <form action={% url 'search' %} method="post">
    {% csrf_token %}
    <label for="radius">Радиус:</label>
        {% if radius %}
    <input id="radius" name="radius" type="number" step="any" class="query-search" value={{ radius | safe }} size="5"><br>
        {% else %}
    <input id="radius" name="radius" type="number" step="any" class="query-search" value=30 size="5"><br>
        {% endif %}
    <label for="is-lost">Искать потерянные:</label>
    <input id="is-lost" name="is-lost" type="checkbox" step="any" class="query-search" size="5"><br>
    <label for="from_date">Начало:</label>
    {% if from_date %}
    <input id="from_date" name="from_date" type="date" value={{ from_date }} class="query-search" placeholder="Дата начала"><br>
    {% else %}
    <input id="from_date" name="from_date" type="date" class="query-search" placeholder="Дата начала"><br>
    {% endif %}
    <label for="to_date">Конец:</label>
    {% if to_date %}
    <input id="to_date" name="to_date" type="date" value={{ to_date }} class="query-search" placeholder="Дата окончания"><br>
    {% else %}
    <input id="to_date" name="to_date" type="date" class="query-search" placeholder="Дата окончания"><br>
    {% endif %}
    <input id="points" name="points" type="hidden"  class="query-search" >
    <input class="btn btn-primary" type="submit" id="send-points-to-django-button" value="Найти">
    </form>
  <br>
<br>
<b>{{ message }}</b>
    <br>
    <br>
{% for image in images %}
    {% if image.active == 'True' %}
        <a target="_blank" rel="noopener noreferrer" href={{ image.image_url }}>
              <img src={{ image.image_url }} alt="{{ image.image_url }}"><br>
        </a><br>
        {{ image.description }}
        <br>
        {% if image.contacts %}
            {{ image.contacts }}
            <br>
        {% endif %}
            <br>
    {% endif %}

{% endfor %}
  </body>

</html>