<!DOCTYPE html>
<html lang="">

  <head>
    <title>Lost & Found</title>
      {{ form.media }}
    <style type="text/css">
       .wrapper {
          display: grid;
          grid-template-columns: 50%;
          grid-gap: 1px;
          grid-template-rows: auto;
        }
    </style>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            {% load bootstrap4 %}
            {% bootstrap_css %}
            {% bootstrap_javascript %}
            {% load crispy_forms_tags %}
  </head>
  <body>
  <div class="wrapper">
            <form action="" enctype="multipart/form-data" method="post">

                {% csrf_token %}
                  {% crispy form %}
                <script>
                      var location_options = {
                          enableHighAccuracy: true,
                          timeout: 5000,
                          maximumAge: 0
                        };

                        function success(pos) {
                            debugger
                            var crd = pos.coords;
                            options['default_lon'] = crd.longitude;
                            options['default_lat'] = crd.latitude;
                            options['default_zoom'] = 12;
                            geodjango_point.options = options
                            geodjango_point.map.getView().setCenter(geodjango_point.defaultCenter());
                        }

                        function error(err) {
                             console.warn(`ERROR(${err.code}): ${err.message}`);
                        }

                        navigator.geolocation.getCurrentPosition(success, error, location_options);
                  </script>
                <button type="submit" class="btn btn-primary">Отправить</button>

            </form>
  </div>
  </body>

</html>
