<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Загрузка данных</title>
    </head>
    <body>
    • <a href="/">Главное</a>
    • <a href="/search">Искать вещи</a>
    • <a href="/lost">Вы потеряли</a>
    • <a href="/found">Вы нашли</a>
    • <a href="/my"> Ваше объявление</a>

    <h1>Страница загрузки данных</h1>
    <b>Необходимо загружать файл с расширением .csv с разделителем ";"</b><br>
    <form action={% url 'upload' %} method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="csv_file" />
        <input type="submit" value="Загрузить">
    </form>
    <br>
    <br>
    {{ message }}
    </body>
</html>